
<div>
  <h1>az group</h1>

<pre tabindex="0" class="has-inner-focus"><code class="lang-azurecli" dir="ltr" data-author-content="az group create --location
                --name
                [--managed-by]
                [--subscription]
                [--tags]"><span><span class="hljs-keyword">az group create </span><span class="hljs-parameter">--location</span>
<span class="hljs-parameter">--name</span>
<span class="hljs-parameter">[--managed-by]</span>
<span class="hljs-parameter">[--subscription]</span>
<span class="hljs-parameter">[--tags]</span></span></code></pre>

<pre tabindex="0" class="has-inner-focus"><code class="lang-azurecli" dir="ltr" data-author-content="az group list [--query-examples]
              [--subscription]
              [--tag]"><span><span class="hljs-keyword">az group list </span><span class="hljs-parameter">[--query-examples]</span>
<span class="hljs-parameter">[--subscription]</span>
<span class="hljs-parameter">[--tag]</span></span></code></pre>

<pre tabindex="0" class="has-inner-focus"><code class="lang-azurecli" dir="ltr" data-author-content="az group show --name
              [--query-examples]
              [--subscription]"><span><span class="hljs-keyword">az group show </span><span class="hljs-parameter">--name</span>
<span class="hljs-parameter">[--query-examples]</span>
<span class="hljs-parameter">[--subscription]</span></span></code></pre>
</div>

<div>
  <h1>az resource</h1>

</div>
